{% extends "index.html" %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-xl-6">
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-2">Average height:</h2>
      <p class="lead"><h3>{{av_height}} sm</h3></p>
  </div>
</div>
        </div>


    <div class="col-xl-6">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-2">Average weight:</h2>
    <p class="lead"><h3>{{av_weight}} kg</h3></p>
  </div>
</div>
        </div>
</div>
    </div>
{% endblock %}